<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>avatar</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="/assets/bill.jpg" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-chip color="primary" outline="true"
            *ngFor="let x of [1,1,1,1,1]">
  <ion-label>Default</ion-label>
  <ion-avatar>
    <img src="/assets/bill.jpg" />
  </ion-avatar>
</ion-chip>

<ion-list>

  <ion-item *ngFor="let x of [1,1,1,1,1]">
  <ion-avatar slot="start">
    <img src="/assets/bill.jpg" />
  </ion-avatar>
    <ion-label>Opcion 1</ion-label>
   
  </ion-item>
</ion-list>
</ion-content>
